a {								
	text-decoration: none;				
	color: red;							
}

p {
    color: aliceblue;
}

header {
    background-color: #37BBD2;
    margin: auto;
    vertical-align: middle;
    line-height: 80px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 15px solid transparent;
    padding: 5px;
    border-image: url(m-images/border.png) 40% stretch;
}

span {
    text-transform: uppercase;
    color: chocolate;
    text-shadow: 5px 7px 8px grey;
    font-weight: normal;
    font-size: 30px;
}

.mycontainer-fluid-style {
    background-color: orange;
}

.row {
    border: 1px solid black;
}

.myrow-style {
    padding: 0;
    text-align: center;
    vertical-align: middle; /****doit etre accompagné par la propriété line-height qui doit etre abso egale à la hauteur de ligne définie**voir ci-dessous dans big et little size********/
}
.bigsize {
    height: 200px;
    line-height: 200px;
}

.littlesize {
    height: 100px;
    line-height: 100px;  
}

.blockbottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #4F2D00;
    z-index: 2;
    width: 100%;
    display: none;
    height: 25px;
    text-transform: uppercase;
    opacity: 0.7;
}

    .blockbottom p {
        line-height: 25px;
        opacity: 1;
    }

.bigsize:hover .blockbottom {
    display: block;
}

.littlesize:hover .blockbottom {
    display: block;
}

.square {
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    border-top: 2px solid black;
}

#bg-img1 {
    background-color: #A6F900;
}

#bg-img2 {
    background-color: #B56800;
    border-right: 2px solid black;
}

#bg-img3 {
    background-color: #333333;
}

#bg-img4 {
    background-color: #6CA200;
    border-right: 2px solid black;
}

#bg-img5 {
    background-color: #A6F900;
}

#bg-img6 {
    background-color: #B56800;
}

#bg-imgrect {
    background-color: #476A00;
}

#bg-img8 {
    background-color: #333333;
}

#bg-img9 {
    background-color: #476A00;
    border-right: 2px solid black;
}

#bg-img10 {
    background-color: #A6F900;
}

#bg-img11 {
    background-color: #6CA200;
    border-right: 2px solid black;
}

.imagestyle {
    width: 50px;
    height: 50px;
}

img { 
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}